<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>About me</h3>
              <p class="pb-3"><em>I Abhishek Rana, a student of Graphic Era Hill University created this website for my mini project of Semester 3.</em></p>
              <p>
                H.no-194,Raipur <br>
                Dehradun, UK, India<br><br>
                <strong>Phone:</strong> 7037632200<br>
                <strong>Email:</strong> abhishekrana25112002@gmal.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/Abhishe64586828" class="twitter"><i class="bx bxl-twitter"></i></a>
<!--                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>-->
                <a href="https://www.instagram.com/abhishekrana8537/" class="instagram"><i class="bx bxl-instagram"></i></a>
<!--                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
                <a href="https://www.linkedin.com/in/abhishek-rana-61a152255/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('about')}}">About Uttarakhand</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('read_blog',index=1)}}">Read Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('contact')}}">Contact us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.quora.com/profile/Abhishek-Rana-858">My Quora Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('add_images')}}">Add images</a></li>
<!--              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('read_blog',index=1)}}">Read Blogs</a></li>-->
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('add_blog')}}">Write a blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('download_map')}}">Download_Map</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('blog_api')}}">Get API</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{url_for('register')}}">Register</a></li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Read Documentation</h4>
            <p>Read the documentation of our website to use it well.</p>
            <a href="https://documenter.getpostman.com/view/24441729/2s8Z6yVrye" style="color: white;"><b>Documentation</b></a>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->